Parameters:
  BlueVpcCidrBlock:
    Type: String
Resources:
  BlueVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref BlueVpcCidrBlock
  {% if sceptre_user_data.AddInternetGateway %}
  BlueIGW:
    Type: AWS::EC2::InternetGateway
  GatewayAttach:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      InternetGatewayId: !Ref BlueIGW
      VpcId: !Ref BlueVpc
  {% endif %}
  {% if sceptre_user_data.AddPublicRoutes %}
  RouteTablePublic:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref BlueVpc
  RouteDefaultPublic:
    Type: AWS::EC2::Route
    DependsOn: GatewayAttach
    Properties:
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref BlueIGW
      RouteTableId: !Ref RouteTablePublic
  {% endif %}
Outputs:
  BlueVpcId:
    Value: !Ref BlueVpc
